<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> listado de familiares </h1>
        {% for member in family %}
        <p>nombre: {{member.name}}</p>
        <p>apellido: {{member.surname}}</p>
        <p>edad: {{member.age}}</p>
        <p>fecha de nacimiento: {{member.birthdate}}</p>
        <p>DNI: {{member.dni}}</p>
        <p>esta vivo?: {{member.alive}}</p>
        {% endfor %}
</body>
</html>